CRON_SCHEDULE=0 8,20 * * *
USERNAMES=
DISCORD_ENABLED=true
DISCORD_WEBHOOK=https://discord.com/api/webhooks/your_webhook_here
CALLMEBOT_ENABLED=false
CALLMEBOT_PHONE=
CALLMEBOT_APIKEY=
SCREENSHOTS_ENABLED=false
